<form (ngSubmit)="save()" [formGroup]="form">
  <div class="flex items-center" mat-dialog-title>
    <!-- <img
        *ngIf="form.controls.imageSrc.value"
        [src]="form.controls.imageSrc.value"
        class="avatar mr-5" /> -->

    <h2 *ngIf="form.controls.name.value" class="headline m-0 flex-auto">
      {{ form.controls.name.value}}
    </h2>
    <h2 *ngIf="!form.controls.name.value" class="headline m-0 flex-auto">
      New Employe
    </h2>

    <button class="text-secondary text-left" mat-dialog-close mat-icon-button type="button">
      <mat-icon svgIcon="mat:close"></mat-icon>
    </button>
  </div>

  <mat-divider class="text-border"></mat-divider>

  <mat-dialog-content class="flex flex-col">
    <div class="flex flex-col sm :flex-row">
      <mat-form-field class="flex-auto">
        <mat-label>Name</mat-label>
        <input cdkFocusInitial formControlName="name" matInput />
        <mat-icon matIconPrefix svgIcon="mat:person"></mat-icon>
      </mat-form-field>
      <mat-form-field class="flex-auto">
        <mat-label>Phone</mat-label>
        <input formControlName="phone" matInput />
  
        <mat-icon matIconPrefix svgIcon="mat:phone"></mat-icon>
      </mat-form-field>
    </div>

    <mat-form-field class="flex-auto">
      <mat-label>Email</mat-label>
      <input formControlName="email" matInput />

      <mat-icon matIconPrefix svgIcon="mat:mail_outline"></mat-icon>
    </mat-form-field>

    
    <mat-form-field class="flex-auto">
      <mat-label>Address</mat-label>
      <input formControlName="address" matInput />

      <mat-icon matIconPrefix svgIcon="mat:edit_location"></mat-icon>
    </mat-form-field>
    
    <mat-form-field class="flex-auto">
      <mat-label>Time in company </mat-label>
      <input formControlName="time_in_company" matInput />
      
      <mat-icon matIconPrefix svgIcon="mat:access_time"></mat-icon>
    </mat-form-field>
    
    <mat-form-field class="flex-auto">
      <mat-label>Position Employe </mat-label>
      <input formControlName="position_employe" matInput />
      <mat-icon matIconPrefix svgIcon="mat:assignment_ind"></mat-icon>
    </mat-form-field>
    <mat-form-field class="flex-auto">
      <mat-label>Contract type </mat-label>
      <input formControlName="contract_type" matInput />
      <mat-icon matIconPrefix svgIcon="mat:assignment"></mat-icon>
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions align="center">
    <button mat-button mat-dialog-close type="button">Cancel</button>
    <button *ngIf="isCreateMode()" color="primary" mat-flat-button type="submit">
      Create Employe
    </button>
    <button *ngIf="isUpdateMode()" color="primary" mat-flat-button type="submit">
      Update Employe
    </button>
  </mat-dialog-actions>
</form>

